<section class="mat-card card intro mx-auto" main-container id="intro">
    <div class="title-button">
      <div id="main-container">
        <h2 class="content-title">Acerca de mi</h2>
    </div>
            <div class="d-block" *ngIf="showAdminBoard">
               <h2 class="content-title"><span 
              (click)="onOpenModal('edit',intro)"><i class="fa-solid fa-edit"
              data-bs-toggle="tooltip"
              data-bs-target="editIntroModal"
              style="padding-right: 5px;" ></i></span> </h2>
            </div>    
    </div>
   <div id="info" id="intro">
      <div id="main-container"> 
            <h3 data-bs-toggle="tooltip"
            data-original-title="Edit">{{intro.introduccion}}</h3>
          </div>
  </div>
 
<!----MODAL EDIT -->

  <div 
  class="modal fade" 
  id="editIntroModal" 
  tabindex="-1" 
  aria-labelledby="introEditModalLabel" 
  aria-hidden="true"
  role="dialog" 
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateIntroModalLabel">
            Editar informacion {{editIntro?.tituloIntro}}</h5>
        <button 
          type="button"
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
       <div class="modal-body">
          <form #editForm="ngForm">
                <div class="form-group">
                       <label for="introduccion"class="form-label">Acerca de mi</label>
                      <textarea
                        class="form-control"
                        type="text"
                        ngModel="{{editIntro?.introduccion}}" 
                        name="introduccion"
                        id="intrduccion"
                        rows="10">
                       </textarea>
                        </div>
                  <input
                  type="hidden"
                  ngModel="{{editIntro?.idIntroduccion}}"
                  name="idIntroduccion"
                  class="form-control"
                  id="idIntroduccion"
                  placeholder=""
                  />
                <br>
              <div class="modal-footer">
                  <button 
                  type="button" 
                  class="btn btn-secondary"
                  data-dismiss="modal">
                      Cancelar</button>
                  <button 
                  (click)="onUpdateIntro(editForm.value)" 
                  data-dismiss="modal"
                  class="btn btn-primary">
                      Guardar cambios
                  </button>
              </div>
          </form>
      </div>
    </div>
  </div>
  </div>

  
</section>