<div class="card mat-card ml-auto" id="footer">
    <div class="redes2">
      <a href="https://www.instagram.com/walterliendook/" target="_blank" rel="noopener">
        <img src="https://liendo.s3.sa-east-1.amazonaws.com/insta.png" title="Instagram"></a>
      <a href="https://www.facebook.com/walterliendook/" target="_blank" rel="noopener">
        <img src="https://liendo.s3.sa-east-1.amazonaws.com/face.png" title="Facebook"></a>
      <a href="https://www.linkedin.com/in/walter-liendo-7204b854" target="_blank" rel="noopener">
        <img src="https://liendo.s3.sa-east-1.amazonaws.com/logolinkedin.jpg" title="Linkedin"></a>
      <a href="https://github.com/Walter185" target="_blank" rel="noopener">
        <img src="https://liendo.s3.sa-east-1.amazonaws.com/git.png" title="Github"></a>
      <a href="https://twitter.com/walterliendook" target="_blank" rel="noopener">
        <img src="https://liendo.s3.sa-east-1.amazonaws.com/logotwitter.png" title="Twitter"></a>
        <p class="nav-item" >Desarrollado por Walter Liendo © 2022  -<a href="mailto:salmek.walter@gmail.com"> walter.liendo@gmail.com  </a>
      </p></div>
  </div>
  <br>